body {
  --theme-primary: #3996d2;
  --theme-primary-middle: #63b3e2;
  --theme-blue-dark: #344E5C;
  --theme-black: #2A2A2E;
  --var-header-height: 60px;
  --var-side-menu-full-open: 250px;
  --transition-smooth: all ease .3s;
}
