<!--<app-sign-in-up-form  [config]="config"></app-sign-in-up-form>-->
<div class="wrapper">
  <div class="form" [formGroup]="formGroup">
    <label>Email</label>
    <input type="mail" formControlName ='mail' placeholder="Entrez un identifiant" />
    <label>Username</label>
    <input type="username" formControlName='username' placeholder="Entrez un username" />
    <label>Password</label>
    <input type="password" formControlName='password' placeholder="Entrez un password" />
    <label>PasswordVerify</label>
    <input type="password" formControlName='passwordVerify' placeholder="Entrez à nouveau le password" />
    <button (click)="save()">S'enregistrer</button>
  </div>
</div>

